<div class="app-page ng-scope">
  <div class="app-lock ng-hide"></div>
  <div class="title">Dashboard</div>
  <div class="body container-fluid dashboard-page">
    <div class="sort-container row">
      <div class="col-lg-4 col-sm-6">
        <app-calender></app-calender>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-action-items></app-action-items>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-reports-generated></app-reports-generated>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-summary-card></app-summary-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-task-list></app-task-list>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-notes></app-notes>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-important-numbers></app-important-numbers>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-activity-feed></app-activity-feed>
      </div>
    </div>
  </div>
</div>
