<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>

  <div class="loaded-content" [class.blurred]="showSpinner">
    <div class="block">
      <div class="block-heading">Cases Graph</div>
      <div class="alert alert-danger text-center" [hidden]="!error">
        {{ error }}
      </div>
      <div class="date-range">
        <select class="ng-pristine ng-untouched ng-valid ng-not-empty">
          <option value="? number:3 ?" selected="selected"></option>
          <option value="0">Today</option>
          <option value="-2">Weekly</option>
          <option value="1" >Monthly</option>
          <option value="3">3 Month</option>
          <option value="6">6 Month</option>
          <option value="12">12 Month</option>
        </select>
      </div>
      <div class="block-body">
        <div class="app-content-loading ng-hide" ng-show="caseLoading" style=""></div>
        <div>
          <div style="position: relative;">
            <div dir="ltr" style="position: relative; width: 356px; height: 290px;" *ngIf="data.length > 0">
              <google-chart #chart
                            [title]="title"
                            [type]="type"
                            [data]="data"
                            [options]="options"
                            [width]="width"
                            [height]="height" >
              </google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
