<div class="sidebar">
  <div class="building-info hidden-sm hidden-xs hidden-md">
    <div class="building-photo">
      <img ng-if="building.currentBuilding.photo" ng-src="https://data.mybos.com/9/2020-03-12/3KBqHf14N4.jpg" class="ng-scope" src="https://data.mybos.com/9/2020-03-12/3KBqHf14N4.jpg" style="">
    </div>
    <div class="building-detail">
      <div class="dropdown user-action">
        <a href="#" class="icon drop-down-circle building-switcher dropdown-toggle" data-toggle="dropdown"></a>
        <ul class="dropdown-menu">
          <li><a href="#">Epic</a></li>
          <li><a href="#">High</a></li>
        </ul>
      </div>
      <div class="building-name">
        <p class="bname ng-binding">Arch</p>
        <p class="baddress ng-binding">200 George Street</p>
        <p class="baddress ng-binding">Sydney NSW </p>
      </div>
    </div>
  </div>
  <ul>
    <li class="hidden-lg">
      <a href="#" class="icon drop-down-circle building-switcher"></a>
    </li>
    <li href="#" class="active">
      <a title="Dashboard" href="#">
        <i class="icon dashboard sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">DASHBOARD</span>
      </a>
    </li>
    <li class="ng-scope" href="#" style="">
      <a title="Cases" href="#">
        <i class="icon case sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">CASES</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Work Order" href="#">
        <i class="icon work-order sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope" >WORK ORDER SENT</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Calendar" href="#">
        <i class="icon calendar sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">CALENDAR</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Schedule" href="#">
        <i class="icon schedule sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">MAINTENANCE SCHEDULE</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Building" href="#">
        <i class="icon building sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">BUILDING</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Tenants" href="#">
        <i class="icon tenant sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">RESIDENTS</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Keys" href="#">
        <i class="icon key sb"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">KEYS</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
      <a title="Parcels" href="#">
        <i class="icon parcel"></i>
        <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope" >PARCELS</span>
      </a>
    </li>
    <li class="ng-scope" href="#">
    <a title="Contractors" href="#">
      <i class="icon contractor sb"></i>
      <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">CONTRACTORS</span>
    </a>
    </li>
    <li class="ng-scope" href="#">
    <a href="#" title="Settings">
      <i class="fa fa-cog fa-lg"></i>
      <span class="hidden-sm hidden-xs hidden-md ng-isolate-scope">SETTINGS</span>
    </a>
    </li>
    <li href="#">
      <a href="#" title="COVID-19 Tracker" style="color: #f7941d">
        <i class="cod-menu-icon"></i>
        <span class="hidden-sm hidden-xs hidden-md">COVID-19 Tracker</span>
      </a>
    </li>
  </ul>
</div>
