<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>

  <div class="loaded-content" [class.blurred]="showSpinner">
    <div class="block number">
      <div class="block-heading">Important Numbers</div>
      <div class="block-control">
        <a class="mb-ico ico-add-circle pull-right" href="#"></a>
      </div>
      <div class="alert alert-danger text-center" [hidden]="!error">
        {{ error }}
      </div>
      <div class="drop-down-content new-important-number-form ng-isolate-scope ng-hide">
        <div class="app-lock ng-hide" ng-show="addingNumber"></div>
        <i class="angle right"></i>
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="newNumberForm">
          <div class="form-group">
            <div class="col-sm-3"><label class="color-grey control-label">Name</label></div>
            <div class="col-sm-9">
              <input type="text" required="" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3"><label class="color-grey control-label">Number</label></div>
            <div class="col-sm-9">
              <input type="text" required="" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="text-right">
                <button type="submit" class="mb-button red small" disabled="disabled">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="block-body">
        <div class="app-content-loading ng-hide" ng-show="importantLoading" style=""></div>
        <div class="important-number-list jquery-scroll ng-isolate-scope mb-scroller" data-scrollbar="true" tabindex="-1" (scroll)="onScroll($event)">
          <div class="scroll-content">
            <div ng-transclude="">
              <table class="important-number ng-scope">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th class="control right">
                    <i class="fa fa-trash-o ng-isolate-scope ng-hide" ng-show="trashNumber" confirm="Are you sure you want to remove selected number?"></i>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="ng-scope" style="" *ngFor="let number of importantNumbers">
                  <td class="ng-binding">{{ number.name }}</td>
                  <td class="ng-binding"> {{ number.number }}</td>
                  <td class="control text-right">
                    <div class="mb-checkbox ng-isolate-scope ng-valid ng-not-empty ng-dirty ng-valid-parse">
                      <span class="icon un-check"></span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
