.new {
  background-color: lightskyblue;
}
.completed {
  background-color: green;
}
.in-progress {
  background-color: royalblue;
}
.deleted {
  background-color: red;
}
.awaiting-approval {
  background-color: orange;
}
